:root {
  --bgColor: linear-gradient(150deg, rgb(16, 19, 28) 20%, rgb(31, 38, 59) 80%);
  --elColor: rgb(160, 210, 235);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  color: var(--elColor);
  cursor: crosshair;
  user-select: none;
}

body {
  height: 100vh;
  background: var(--bgColor);
}

.largeButton {
  margin: 30px;
  padding: 20px;
  font-size: 30px;
  text-shadow: none;
  letter-spacing: 1px;
  border: 1px solid var(--elColor);
  border-radius: 10px;
  transition: 0.5s;
}
.largeButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--elColor);
}

.mediumButton {
  margin: 5px;
  padding: 5px 10px;
  font-size: 30px;
  letter-spacing: 1px;
  border: 1px solid var(--elColor);
  border-radius: 10px;
  transition: 0.5s;
}
.mediumButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--elColor);
}

.smallButton {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid var(--elColor);
  border-radius: 10px;
  transition: 0.5s;
}
.smallButton:hover {
  box-shadow: 0 0 20px var(--elColor);
}

.border {
  padding: 20px;
  border: 1px solid var(--elColor);
  border-radius: 10px;
}

.mainMenuContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.mainMenuContainer .title {
  font-size: 50px;
  text-shadow: 0 0 20px var(--elColor);
}

.loadingContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingContainer .title {
  font-size: 40px;
}

.loadingContainer .loadingBar {
  margin: 30px;
  width: 300px;
  height: 30px;
  border: 1px solid var(--elColor);
}

.loadingContainer .loadingBarProgress {
  width: 0%;
  height: 100%;
  background: var(--elColor);
}

.gameContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.gameContainer .nav {
  position: absolute;
  width: 99%;
  top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameContainer .stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 30px;
}

.gameContainer .board {
  display: grid;
  gap: 10px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: inset 0px 0px 30px var(--elColor);
}

.gameContainer .cell {
  aspect-ratio: 1/1;
  font-size: 80px;
  border-radius: 25px;
  transition: 0.3s;
}
.gameContainer .cell:hover {
  transform: translate(-2px, -2px);
}

.gameContainer .full {
  box-shadow: inset 3px 3px 20px var(--elColor), 3px 3px 5px var(--elColor);
}
.gameContainer .full:hover {
  box-shadow: inset 3px 3px 20px var(--elColor), 5px 5px 5px var(--elColor);
}

.moveRight {
  animation: moveRight 0.5s;
}
@keyframes moveRight {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}

.moveLeft {
  animation: moveLeft 0.5s;
}
@keyframes moveLeft {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}

.moveDown {
  animation: moveDown 0.5s;
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

.moveUp {
  animation: moveUp 0.5s;
}
@keyframes moveUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

.cnfrmResetContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  animation: cnfrmResetContainer 0.5s;
}
@keyframes cnfrmResetContainer {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.cnfrmResetContainer > div > p {
  margin: 5px;
  font-size: 20px;
}

.winContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  animation: winContainer 1s;
}
@keyframes winContainer {
  0%,
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.winContainer > div > p {
  margin: 5px;
  font-size: 20px;
}

.winContainer > div > img {
  width: 20px;
  animation: img 2.5s;
}
@keyframes img {
  0%,
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
